<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <!--<add name="BPO" connectionString="server=qdm164123290.my3w.com;user id=qdm164123290;password=guang1983;database=qdm164123290_db;CharSet=utf8;Convert Zero Datetime=true"
    providerName="MySql.Data.MySqlClient" />-->
  <add name="BPO" connectionString="server=10.45.33.104;user id=bpo;password=Admin104);database=bpodbnew;CharSet=utf8;Convert Zero Datetime=true"
    providerName="MySql.Data.MySqlClient" />
  <!--<add name="BPO" connectionString="server=192.168.3.3;user id=root;password=123;database=test;CharSet=utf8;Convert Zero Datetime=true" providerName="MySql.Data.MySqlClient" />-->
  <!--<add name="BPO" connectionString="Server=192.168.3.3;Initial Catalog=test;User ID=sa;Password=Admin12)"
    providerName="System.Data.SqlClient" />-->
  <!--<add name="BPO" connectionString="Data Source=10.45.16.21; Initial Catalog=test;User ID=sa;Password=Admin12)"
    providerName="System.Data.SqlClient" />-->
</connectionStrings>