@{
    ViewData["Title"] = "胜券众包";
}

<div class="row">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">可进行任务</a></li>
        <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">待解锁任务</a></li>
    </ul>
    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="home">
            <div class="list-group">
                <a href="#" class="list-group-item active">
                    <h4 class="list-group-item-heading">List group item heading</h4>
                    <p class="list-group-item-text">
                        <audio controls="controls" controlsList="nodownload" oncontextmenu="return false">
                            <source src="~/mp3/tos0005a94f8ad9422d8b6a740e3602dd06-out_0_0.mp3" type="audio/mpeg" />
                        </audio></p>
                </a>
                <a href="#" class="list-group-item">
                    <h4 class="list-group-item-heading">List group item heading</h4>
                    <p class="list-group-item-text">
                        <img src="~/images/banner2.svg" />...</p>
                </a>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="profile">
            <div class="row">
                <a href="#" class="list-group-item active">
                    <h4 class="list-group-item-heading">List group item heading</h4>
                    <p class="list-group-item-text">
                        <img src="~/images/banner1.svg" />...
                    </p>
                </a>
                <a href="#" class="list-group-item">
                    <h4 class="list-group-item-heading">List group item heading</h4>
                    <p class="list-group-item-text">
                        <audio controls="controls" controlsList="nodownload" oncontextmenu="return false">
                            <source src="~/mp3/tos0005a94f8ad9422d8b6a740e3602dd06-out_0_0.mp3" type="audio/mpeg" />
                        </audio>
                    </p>
                </a>
            </div>
        </div>
    </div>

</div>
